<div class="container">
    <div>
        <p-card>
            <h3>Cadastrar Cliente</h3>

            <form [formGroup]="formCliente" (ngSubmit)="salvar()">

                <div class="p-grid">
                    <div class="p-fluid p-col-12">
                        <label>Nome</label>
                        <input name="nome" formControlName="nome" type="text" pInputText required>
                        <app-message [control]="formCliente.get('nome')" error="required"
                                     text="Informe um nome">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-6">
                        <label>CPF</label>
                        <p-inputMask type="text"
                                     mask="999.999.999-99"
                                     placeholder="999.999.999-99"
                                     name="cpf" formControlName="cpf"></p-inputMask>
                        <app-message [control]="formCliente.get('cpf')" error="required"
                                     text="Informe um cpf">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-6">
                        <label>E-mail</label>
                        <input name="email" formControlName="email" type="email" pInputText
                               placeholder="seu-email@mail.com">
                        <app-message [control]="formCliente.get('email')" error="required"
                                     text="Informe um e-mail">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-2">
                        <label>Cep</label>
                        <p-inputMask type="text"
                                     mask="99.999-999"
                                     placeholder="99.999-999"
                                     name="endereco_cep"
                                     formControlName="endereco_cep"></p-inputMask>
                        <app-message [control]="formCliente.get('endereco_cep')" error="required"
                                     text="Informe o cep">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-8">
                        <label>Endereço</label>
                        <input name="endereco_logradouro" formControlName="endereco_logradouro" type="text" pInputText
                               maxlength="60">
                        <!-- TODO: Corrigir no banco o tamanho do campo -->
                        <app-message [control]="formCliente.get('endereco_logradouro')" error="required"
                                     text="Informe o endereço">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-2">
                        <label>Número</label>
                        <input name="endereco_numero" formControlName="endereco_numero" type="number" pInputText
                               [max]="10000">
                        <app-message [control]="formCliente.get('endereco_numero')" error="required"
                                     text="Informe o número">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-8">
                        <label>Complemento</label>
                        <input name="endereco_complemento" formControlName="endereco_complemento" type="text" pInputText
                               maxlength="60">
                        <!-- TODO: Corrigir no banco o tamanho do campo -->
                        <app-message [control]="formCliente.get('endereco_complemento')" error="required"
                                     text="Informe o complemento">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-4">
                        <label>Bairro</label>
                        <input name="endereco_bairro" formControlName="endereco_bairro" type="text" pInputText
                               maxlength="60">
                        <!-- TODO: Corrigir no banco o tamanho do campo -->
                        <app-message [control]="formCliente.get('endereco_bairro')" error="required"
                                     text="Informe o bairro">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-6">
                        <label>Estado</label>
                        <p-dropdown
                            [options]="listaEstados"
                            placeholder="Selecione o Estado"
                            optionLabel="nomeComSigla"
                            optionValue="id"
                            (onChange)="listarMunicipios($event)"
                            emptyFilterMessage="Nenhum registro encontrado"
                            [filter]="true"
                            [showClear]="true">
                        </p-dropdown>
                        <app-message [control]="formCliente.get('email')" error="required"
                                     text="Informe um estado">
                        </app-message>
                    </div>

                    <div class="p-fluid p-col-12 p-md-6" *ngIf="listaMunicipios.length === 0">
                        <label>Município</label>
                        <p-dropdown
                            placeholder="Selecione um Estado"
                            [disabled]="true">
                        </p-dropdown>
                    </div>

                    <div class="p-fluid p-col-12 p-md-6" *ngIf="listaMunicipios.length > 0">
                        <label>Município</label>
                        <p-dropdown
                            [options]="listaMunicipios"
                            placeholder="Selecione um Município"
                            optionLabel="nome"
                            optionValue="id"
                            emptyFilterMessage="Nenhum registro encontrado"
                            [filter]="true"
                            [showClear]="true">
                        </p-dropdown>
                        <app-message [control]="formCliente.get('cpf')" error="required"
                                     text="Informe um município">
                        </app-message>
                    </div>
                </div>

                <div class="p-grid espamentoTop">
                    <div style="text-align: start" class="p-col-6 p-md-6">
                        <button pButton type="button"
                                label="Voltar"
                                class="p-button-outlined p-button-secondary" icon="pi pi-arrow-left"
                                (click)="voltarParaPagina()">
                        </button>
                    </div>
                    <div style="text-align: end" class="p-col-6 p-md-6 semPaddingLeft">
                        <button pButton type="submit"
                                class="p-button-outlined p-button-success"
                                icon="pi pi-save"
                                pTooltip="Salvar"
                                tooltipPosition="top"
                                label="Salvar"
                                [disabled]="formCliente.invalid">
                        </button>
                        <button pButton type="button"
                                class="p-button-outlined p-button-success"
                                icon="pi pi-plus"
                                pTooltip="Novo"
                                tooltipPosition="top"
                                label="Novo"
                                (click)="novo()">
                        </button>
                    </div>
                </div>
            </form>
        </p-card>
    </div>
</div>
