<div class="container">
    <div class="p-grid">
        <div class="p-col-12">
            <h3>Consultar Clientes</h3>
        </div>
        <div class="p-col-12" style="text-align: end">
            <button pButton pRipple
                    class="p-button-outlined"
                    icon="pi pi-plus"
                    pTooltip="Cadastrar"
                    tooltipPosition="top"
                    type="submit"
                    label="Novo Cliente"
                    (click)="irParaPagina()"></button>
        </div>
    </div>
</div>
