<div class="container">
    <div class="p-grid">
        <div class="p-col-12">
            <h3>Consultar Clientes</h3>
        </div>
        <div class="p-col-12" style="text-align: end">
            <button pButton pRipple
                    class="p-button-outlined p-button-info"
                    icon="pi pi-plus"
                    pTooltip="Cadastrar"
                    tooltipPosition="top"
                    type="submit"
                    label="Novo Cliente"
                    (click)="irParaPagina()"></button>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-12">
            <p-table [value]="clientes"
                     styleClass="p-datatable-gridlines p-datatable-striped p-datatable-sm"
                     responsiveLayout="stack"
                     [paginator]="true"
                     [rows]="10">
                <ng-template pTemplate="caption">
                    Lista de Clientes
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th col-acoes-header>Ações</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <span class="p-column-title">Nome</span>
                            {{ item.nome }}
                        </td>
                        <td>
                            <span class="p-column-title">CPF</span>
                            {{ item.cpf }}
                        </td>
                        <td>
                            <span class="p-column-title">email</span>
                            {{ item.email }}
                        </td>
                        <td class="col-acoes">
                            <button
                                pButton
                                pRipple
                                icon="pi pi-pencil"
                                class="p-button-rounded p-button-text"
                                pTooltip="Editar"
                                tooltipPosition="top">
                            </button>
                            <button
                                pButton
                                pRipple
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-text"
                                pTooltip="Excluir"
                                tooltipPosition="top">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">
                            Nenhuma pessoa encontrado
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
