<p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">

    </ng-template>
    <ng-template pTemplate="right">
        <button pButton pRipple label="Novo" icon="pi pi-plus"
                class="p-button-outlined p-mr-2 p-button-sm"
                (click)="inserir()"></button>
    </ng-template>
</p-toolbar>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" required autofocus/>
            <small class="p-invalid" *ngIf="submitted && !cliente">Name is required.</small>
        </div>
    </ng-template>
</p-dialog>
