/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #404c51
}

label {
    font-weight: bold;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

.p-button.p-button-outlined {
    background-color: transparent;
    color: #1ad272 !important;
    border: 1px solid;
}

.p-card .p-card-content {
    padding: 0;
}

h3 {
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.p-card .p-card-body {
    padding: 1rem;
    margin-top: 1rem !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    text-align: center;
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}

.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    text-align: center;
}

.p-datatable .p-datatable-thead > tr > th {
    text-align: center;
}

.col-acoes {
    width: 150px;
}

.col-acoes > a {
    margin-right: 5px;
}

@media (min-width: 40em) {
    .col-acoes-header {
        width: 125px;
    }

    .col-acoes {
        width: 125px;
        text-align: center !important;
    }

    .col-acoes .p-button {
        margin: 1px;
    }
}
